<div class="container mt-5 text-center"  id="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dbjtqhjxi/image/upload/v1601975871/austin-chan-ukzHlkoz1IE-unsplash_e1pjtc.jpg);">
  <h1>Welcome to the</h1>
  <%= image_tag "https://cdn.armut.com/images/armut-logo-colour-negative@3x.png" %>
  <h1>messages.</h1>
  <p>Start messaging with your friends now.</p>
  <a class="btn btn-flat btn-success" href="conversations">Start now</a>
</div>

